/*
VARIABLES
*/

:root{
  --mas-blanco:#fff;
  --mas-azul:#3884c2;
  --mas-azulB:#2170ad;
  --mas-berde:#4fa937;
  --mas-berdeB:#016a41;
  --mas-greyL:#f0f0f0;
  --mas-grey:#8f8f8f;
  --mas-amarillo:#ada938;
  --mas-red:#e55353;
  --mas-redB:#c43c3c;
}
.App {
  text-align: center;
}
 .App *{
  font-family: Nunito, sans-serif!important;
 }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color: inherit;
  text-decoration: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.main-container{
  max-width: 1000px !important;  
}

@media (min-width: 1000px) {
  .main-container{
    margin: 20px auto!important;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  }
}

/*BOTONES--------------------------*/
.btn{
  background-color: var(--mas-grey)!important;
  border-color: var(--mas-grey)!important;
  height: 35px;
  border-radius: 12px!important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn:hover{
  background-color: var(--mas-azul)!important;
  border-color: var(--mas-azul)!important;
  color: #fff!important;
}
.btn-primary{
  background-color: var(--mas-azul)!important;
  border-color: var(--mas-azul)!important;  
}
.btn-primary:hover{
  background-color: var(--mas-azulB)!important;
  border-color: var(--mas-azulB)!important;
  color: #fff!important;
}

.btn-danger{
  background-color: var(--mas-red)!important;
  border-color: var(--mas-red)!important;
}

.btn-danger:hover{
  background-color: var(--mas-red)!important;
  border-color: var(--mas-red)!important;
  color: #fff!important;
}

h2{
  font-weight: bold !important;
}
