.admin-none{
    display: none !important;
}

table input, table select, table textarea{
    font-size: 12px;
    border: none !important;
    border-bottom: solid #b1c3e2 1.5px !important;
}
table .tabla-filtrosAdm-uc3g{
    background: #6e809f !important;
    color: #fff;
    border: none !important;
    border-radius: 5px;
    padding: 2px 5px;
}
body{
    
}

.tabla-admin-botones button{
    width: 20px !important;
    height: 23px !important;
    font-size: 10px;
    padding: 1;
    justify-content: center;
    display: flex;
    margin: 5px;
}

.tabla-admin-botones input{
    font-size: 12px;
}

.tabla-admin-botones .admin-products-img{
    width: 80px !important;       
    margin: 10px auto;
    height: 26px !important;
    display: block;    
}


