<<<<<<< HEAD
.admin-none{
    display: none !important;
}
=======
.Screen-cont{
    max-width: 1100px;    
    display: flex;
}

.AdminScreen-col-bar{
    margin:none !important;
    height: 100% !important;
}
.AdminScreen-bar{
    max-width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}


/*

<Row className='Screen-cont min-vh-100'>
            <Col className="AdminScreen-col-bar d-sm-none d-md-inline"  md={3} lg={3}>
                <CSidebar 
                    unfoldable={true}
                    visible={sidebarShow}
                    onVisibleChange={(visible) => {
                        debugger
                        ctxDispatch({ type: 'SET_BAR', sidebarShow: visible })
                      }}
                    className="AdminScreen-bar min-vh-100">
                    <CSidebarBrand>Sidebar Brand</CSidebarBrand>
                    <CSidebarNav>
                        <CNavTitle>Nav Title</CNavTitle>
                        <CNavItem href="#">     
                        Nav item
                        </CNavItem>
                        <CNavItem href="#">      
                        With badge      
                        </CNavItem>
                        <CNavGroup toggler="Nav dropdown">
                        <CNavItem href="#">
                            Nav dropdown item
                        </CNavItem>
                        <CNavItem href="#">
                            Nav dropdown item
                        </CNavItem>
                        </CNavGroup>
                    </CSidebarNav>
                   
                </CSidebar> 
            </Col>
            <Col className="AS-col-content d-block" sm={12} md={8} lg={9}>  
                <div>
                    <h1>Admin</h1>
                </div>
            </Col>
        </Row>


*/
>>>>>>> 26a0903f23791d82147b78c522353443e5f30bab
