.sidebar-light{
    background-color: #fff;
    color: var(--mas-azul)
}

.sidebar-light .sidebar-brand{
    background: #fff;
}

.sidebar-light .nav-item a{
    font-weight: bold;
    text-decoration: none;
    /*color: var(--mas-azul);*/
    color: var(--mas-negro);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;    
}

.sidebar-light .nav-item a:hover{
    
    /*color: var(--mas-berde);*/
    color: var(--mas-negro);
    font-weight: bold;
}

.sidebar-light-active{
    
    /*color: var(--mas-berde);*/
    color: var(--mas-berde);
    font-weight: bold;
}