@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .laboratorio-slider {
    /*background: #3785c2;*/
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    width: 100%;
  }
  /*
  .laboratorio-slider::before, .laboratorio-slider::after {
    background: linear-gradient(to right, #2d6c9d 0%, rgba(55, 133, 194, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 50px;
    z-index: 2;
  }*/
  .laboratorio-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .laboratorio-slider::before {
    left: 0;
    top: 0;
  }
  .laboratorio-slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .laboratorio-slider .slide {
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  